/* body{
    background-color: pink;
} */

.navbar {
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d ;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
 .f-info-links,.f-info-socials,.f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
 }

 .f-info-socials i {
    margin-right: 1rem;
    font-size: 1.2rem
 }

.f-info {
    text-align: center;
    display: flex;
    height: 8rem;
    background-color: #ebebeb;
    justify-content: center;
    flex-wrap: wrap;
    align-items: self-evenly;
}