<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <div class="row">
    <div class="col-8 offset-2">
    <br>
    <h1>Create Listing</h1>
    <form method="POST" action="/listings" novalidate class="needs-validation">
        <div class="mb-3">
            <label for="listings[title]" class="form-label">Title:</label>
            <input type="text"  class="form-control" name="listings[title]" placeholder="Title" required><br>
            <div class="invalid-feedback">Please Enter Valid Title</div>
            <div class="valid-feedback">Title looks good!</div>
        </div>
        
        <div class="mb-3">
            <label for="listings[description]" class="form-label">Description</label>
            <textarea name="listings[description]" class="form-control"  cols="30" rows="3" required></textarea>
            <div class="invalid-feedback">Please Enter Valid Description</div>
        </div>
        <div class="mb-3">
            <label for="listings[image]" class="form-label">Image/URL</label>
            <input type="text" class="form-control" name="listings[image]" placeholder="Image/URL"><br>
        </div>
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="listings[price]" class="form-label">Price</label>
                <input type="number" class="form-control" name="listings[price]" placeholder="Price" required><br>
                <div class="invalid-feedback">Please Enter Valid Price</div>
            </div>
            <div class="mb-3 col-md-8">
                <label for="listings[location]" class="form-label">Location</label>
                <input type="text" class="form-control" name="listings[location]" placeholder="Location" required><br>
                <div class="invalid-feedback">Please Enter Valid Location</div>
            </div>
        </div>
        
        <div class="mb-3">
            <label for="listings[country]" class="form-label">Country</label>
            <input type="text" class="form-control" name="listings[country]" placeholder="Country" required><br>
            <div class="invalid-feedback">Please Enter Valid Country</div>
        </div>
        
        <button class="btn btn-dark add-btn">Add</button><br><br>
    </form>
</div>
</div>
</body>
