<%- layout("/layouts/boilerplate.ejs") %>
<body>
    <h1>Create Listing</h1>
    <form method="POST" action="/listings">
        <input type="text" name="title" placeholder="Title"><br><br>
        <input type="text" name="description" placeholder="Description"><br><br>
        <input type="text" name="image" placeholder="Image/URL"><br><br>
        <input type="text" name="price" placeholder="Price"><br><br>
        <input type="text" name="location" placeholder="Location"><br><br>
        <input type="text" name="country" placeholder="Country"><br><br>
        <button>Submit</button>
    </form>
</body>
